**/bin/
**/obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

*.mdf
*.ldf
*.ndf

**/packages/
*.nupkg

*.log
logs/

appsettings.Development.json
**/appsettings.*.json
!**/appsettings.json

.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/
**/publish/
**/out/